<html>

<head>
    <title> Carrot Cake </title>

    <style>
            body {
                background-color: #BC8F8F;
                }
            h1 {
                color:  #FF4500;
                text-align: center;
            }

            .description {
                color: red;
                font-size: 15;
                text-align: center;
            }
            
            .recipe {
                color: green;
                font-size: 12;
                text-align: center;
            }
    </style>
</head>

<body>
    <h1> Carrot Cake </h1>

    <%=  image_tag("carrot-cake.jpg", style: "width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;") %>
    <p class="description"> Description:  Moist cake loaded with grated carrots, spices, and often topped with cream cheese frosting. <p>
    <p class="recipe"> Recipe: Mix grated carrots with flour, sugar, eggs, oil, spices, and nuts, bake, then top with cream cheese frosting. </p>    
</body>

</html>