<html>

<head>
    <title> Cheesecake </title>

    <style>
            body {
                background-color: #F0E68C;
                }
            h1 {
                color: #8B4513;
                text-align: center;
            }

            .description {
                color: red;
                font-size: 15;
                text-align: center;
            }
            
            .recipe {
                color: green;
                font-size: 12;
                text-align: center;
            }
    </style>
</head>

<body>
    <h1> Cheesecake </h1>

    <%=  image_tag("cheesecake.jpg", style: "width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;") %>
    <p class="description"> Description: Smooth and creamy dessert made with cream cheese, often on a graham cracker crust. <p>
    <p class="recipe"> Recipe: Blend cream cheese with sugar, eggs, and vanilla, pour over a graham cracker crust, and bake until set. </p>    
</body>

</html>