<html>

<head>
    <title> Napoleon Cake </title>

    <style>
            body {
                background-color: #F5DEB3;
                }
            h1 {
                color: yellow;
                text-align: center;
            }

            .description {
                color: green;
                font-size: 15;
                text-align: center;
            }
            
            .recipe {
                color: blue;
                font-size: 12;
                text-align: center;
            }
    </style>
</head>

<body>
    <h1> Napoleon </h1>

    <%=  image_tag("napoleon.jpg", style: "width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;") %>
    <p class="description"> Description: Layers of flaky pastry filled with creamy custard, topped with powdered sugar. <p>
    <p class="recipe"> Recipe: Layer puff pastry sheets with custard, repeat, then chill and dust with powdered sugar before serving. </p>    
</body>

</html>