<head></head>

<body>

    <h1> Welcome To Cake App! Just Press To One Of The Links Below To Learn About A Cake You Want To Know More About, Or Just Write Cakes Name To Url</h1>
    <h3> example: www.cakesapp.com/napoleon </h3>
</body>